<body>
    <p id="notice"></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>新規投稿2</td>
        <td>test</td>
        <td><a class="show_263350" href="/books/263350">Show</a></td>
        <td><a class="edit_263350" href="/books/263350/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263350" rel="nofollow" data-method="delete" href="/books/263350">Destroy</a></td>
      </tr>
      <tr>
        <td>新規投稿2</td>
        <td>test2</td>
        <td><a class="show_263353" href="/books/263353">Show</a></td>
        <td><a class="edit_263353" href="/books/263353/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_263353" rel="nofollow" data-method="delete" href="/books/263353">Destroy</a></td>
      </tr>
  </tbody>
</table>


<h2>New book</h2>
<%= form_with model: @book,  local:true do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'create' %>
<% end %>

</body>